.us-root {
    background: #363b4c;
    position: relative;
    top: 5%;
    margin: 0 auto;
    border-radius: 15px;
    padding-top: .5%;
    padding-bottom: .5%;
    text-align: center;

    .us-text {
        font-size: 3em;
        margin: 10px 0;
    }
    
    .us-users-root {
        height: 85%;

    }
}