.dashboard-page-root {
    height: 100%;
    text-align: center;
    .loader {
        margin: 75px auto;
        display: inline-block;
    }
    .data-container {
        width: 400px;
        display: inline-block;
        word-break: break-all;
        margin-top: 50px;
        vertical-align: top;
        margin-left: 50px;
    }
}