.us-root {
    background: #363b4c;
    position: relative;
    top: 5%;
    margin: 0 auto;
    border-radius: 15px;
    padding-top: .5%;
    padding-bottom: 3%;
    text-align: center;
    .us-text {
        font-size: 3em;
        margin: 10px 0;
    }
    .us-users-root {
        height: 85%;
        .us-user {
            display: inline-block;
            height: 97%;
            width: 28%;
            background: #212131;
            margin: 0 20px;
            border-radius: 15px;
            border: 2px solid transparent;
            cursor: pointer;
            &:hover {
                border: 2px solid #7676af;
            }
            .us-user-type {
                font-size: 1.8em;
                padding: 6px;
                margin-top: 8%;
            }
            .us-user-type-description {
                padding: 15px;
            }
        }
    }
}