.artifacts-container {
    .reservoir {
        &>g {
            fill: black;
            stroke-width: 8px;
        }
        circle {
            fill: #00bdff;
            stroke-width: 30px;
        }
    }
}