.edit-panel-root {
    display: inline-block;
    background: #1a1c22;
    vertical-align: top;
    margin-left: 20px;
    border-radius: 5px;
    padding: 20px 10px;
    .input-group {
        margin: 10px 0px;
    }
    .inner-span {
        font-weight: bold;
        width: 100px;
        display: inline-block;
        margin-right: 10px;
    }
    #markerType {
        width: 200px;
    }
    h3 {
        font-size: 20px;
        font-weight: bolder;
    }
}