.filter-root-container {
    margin: 30px 10px 20px 10px;
    .filter-container {
        display: inline-block;
        margin: 10px;
    }
    .demand-btn {
        &.active-button {
            border: 3px solid #f3fbfe;
            border-radius: 10px;
            text-decoration: none;
        }
    }
    .label-btn {
        &.active-button {
            border: 3px solid #f3fbfe;
            border-radius: 10px;
            text-decoration: none;
        }
    }
    .inflow-btn {
        &.active-button {
            border: 3px solid #f3fbfe;
            border-radius: 10px;
            text-decoration: none;
        }
    }
    .inner-filter-box {
        display: inline-block;
        margin-left: 20px;
        .filter-label {
            margin-right: 10px;
        }
        .select-container-filter {
            display: inline-block;
            width: 400px;
        }
    }
}