.filter-root-container {
    margin: 30px 10px 5px 10px;
    height: auto;
    width: auto;
    white-space: nowrap;
    .label-btn {
        margin: 2px;
        height: 35px;
        color: #ffffff;
        background-color: #1ca8dd;
        border-color: #1997c6;
        &.active {
            color: #1997c6;
            background-color: transparent;
            border-color: #1997c6;
        }
    }
    button.custom-icon-button.icon {
        margin-bottom: 2px;
        min-width: 35px;
        height: 38px;
        padding-left: 8px;
        margin-top: 0px;
        margin-left: 1px;
        &.eye {
            padding-left: 4px;
            width: 40px;
            font-size: 20px;
        }
        &.demand {
            background-color: #7e7e7e;
            border-color: #7e7e7e;
            path {
                fill: white;
            }
            &.outline {
                color: #7e7e7e;
                background-color: transparent;
                border-color: #7e7e7e;
                path {
                    fill: #7e7e7e;
                }
            }
        }
        &.diversion {
            background-color: #f7a02e;
            border-color: #f7a02e;
            color: white;
            &.outline {
                color: #f7a02e;
                background-color: transparent;
                border-color: #f7a02e;
            }
        }
        &.inflow {
            background-color: #92cce3;
            border-color: #92cce3;
            color: white;
            &.outline {
                color: #92cce3;
                background-color: transparent;
                border-color: #92cce3;
            }
        }
        &.agri {
            background-color: #51a83a;
            border-color: #51a83a;
            path {
                fill: white;
            }
            &.outline {
                color: #51a83a;
                background-color: transparent;
                border-color: #51a83a;
                path {
                    fill: #51a83a;
                }
            }
        }
    }
    .inner-filter-box {
        width: 100%;
        min-height: 10px;
        display: inline-block;
        margin-right: 4px;
        .filter-label {
            margin-right: 1px;
            text-decoration: none;
        }
        .select-container-filter {
            display: inline-block;
            width: 100%;
            margin-right: 2px;
            min-width: 100px;
            // Used for having text with selection bar
            width: -moz-calc(100% - 40px);
            width: -webkit-calc(100% - 40px);
            width: calc(100% - 40px);
        }
    }
    .filter-div {
        display: inline-block;
        width: 22.75%;
        height: auto;
        min-height: 55px;
        vertical-align: text-top;
        padding: 6px;
        border: none;
    }
    .btn {
        min-width: 85px;
        min-height: 5px;
        font-size: 12px;
        padding: 3.3px;
        font-weight: bold;
    }
    .filter-general {
        min-height: 55px;
        width: auto;
        min-width: 120px;
    }
    .filter-title {
        text-decoration: underline;
        font-size: 20px;
    }
    .icon {
        // float: right;
        background-color: transparent;
        border-color: transparent;
        vertical-align: middle;
    }
}