.flow-panel-root-container {
    display: inline-block;
    background: #1b1f2a;
    margin: 10px auto;
    border-radius: 7px;
    margin-left: 20px;
    vertical-align: top;
    position: relative;
    .title-bar {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .exclaimatory-text {
        margin: 0px;
        font-size: 0.75em;
    }
    .entire-panel {
        display: inline;
    }
    .statcard-button-group {
        display: block;
        width: 80%;
        float: right;
        margin: 10px 8px 0px 18%;
        position: absolute;
    }
    .statcard-button {
        margin: 2px 0px 2px 0px;
        background: #1a1c22;
        color: white;
    }
    .statcard-button:hover {
        background-color: #4CAF50;
    }
    #TestSelect {
        float: left;
        width: 310px;
    }
    .two-button-group {
        width: 40px;
        float: right;
    }
    .metrics-container {
        margin-top: 10px;
        display: inline-flex;
        overflow: hidden;
        margin: 0 10px 0 10px;
        overflow-y: hidden;
        padding-bottom: 5px;
        float: left;
        /* width */
    }
    .metrics-container::-webkit-scrollbar {
        height: 0.7em;
        width: 20px;
        margin-top: 2px;
    }
    /* Track */
    .metrics-container::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }
    /* Handle */
    .metrics-container::-webkit-scrollbar-thumb {
        background: darkgrey;
        border-radius: 10px;
    }
    /* Handle on hover */
    .metrics-container::-webkit-scrollbar-thumb:hover {
        background: rgb(94, 94, 94);
    }
    .flow-inner-container {
        svg.flow-data-chart {
            margin: 0px auto;
            display: block;
            .flow-spark-line {
                fill: none;
                stroke: #1997c6;
                stroke-width: 2px;
            }
            .flow-text {
                fill: white;
                font-weight: bold;
                font-size: 17px;
            }
        }
    }
    //  temp serve code style
    .metric-chart .tick>line {
        opacity: 0.0 !important;
    }
    .metric-chart .tick>text {
        opacity: 1 !important;
    }
    .metric-chart text {
        fill: #565656;
        font-size: 9px;
        font-family: Helvetica, Arial, "sans serif";
    }
    .metric-chart rect.plot-background {
        fill: white;
    }
    .metric-chart path.line {
        fill: none;
        stroke: #1997c6;
        /*default, changed in each theme*/
        stroke-width: 1.5px;
        clip-path: url(#clip);
    }
    .metric-chart path.area {
        fill: #1997c6;
        opacity: 0.6;
        clip-path: url(#clip);
    }
    .metric-chart .axis {
        shape-rendering: crispEdges;
    }
    .metric-chart .axis.axis--x .domain {
        display: none;
    }
    .metric-chart .axis.axis--x line {
        stroke: white;
        opacity: 0.4;
    }
    .metric-chart .context .axis.axis--x line {
        display: none;
    }
    .metric-chart .axis.axis--y .domain {
        display: none;
    }
    .metric-chart .axis.axis--y.title {
        font-size: 13px;
        font-weight: 100;
    }
    .metric-chart .axis.axis--y line {
        stroke: #565656;
        stroke-dasharray: 2, 2;
        stroke-opacity: 0.3;
    }
    .metric-chart .context .brush .handle {
        fill: #555;
        width: 4px;
    }
    .metric-chart .context .brush .handle.mini {
        fill: white;
        stroke-width: 1px;
        stroke: #555;
        width: 7px;
    }
    .zoom {
        cursor: move;
        fill: none;
        pointer-events: all;
    }
}