.legend-root-container {
    margin: 30px 10px 20px 10px;
    // background-color: grey;
    height: auto;
    width: 100%;
    .inner-filter-box {
        // display: inline-block;
        // margin-left: 10px;
        width: 100%;
        min-height: 10px;
        white-space: nowrap;
        .filter-label {
            margin-right: 10px;
            text-decoration: none;
            // color: grey;
        }
        .select-container-filter {
            display: inline-block;
            width: -moz-calc(100% - 80px);
            width: -webkit-calc(100% - 80px);
            width: calc(100% - 80px);
        }
    }
    .filter-div {
        display: inline-block;
        vertical-align: text-top;
        margin: 15px;
        svg {
            display: inline-block;
            margin: 0px auto;
        }
    }
    .filter-general {
        width: auto;
        min-width: 150px;
    }
    .filter-title {
        text-decoration: underline;
        font-size: 20px;
    }
}

#map-legend {
    display: inline-block;
    background: #1b1f2a;
    margin: 10px auto;
    border-radius: 7px;
    vertical-align: top;
    width: 96%;
    text-align: center;
    .river {
        stroke-dasharray: 9, 5;
        stroke-linecap: round;
        fill: none;
        &.forward-flow {
            animation: flow 1s linear infinite;
            -webkit-animation: flow 1s linear infinite;
        }
        &.reverse-flow {
            animation: revflow 1s linear infinite;
            -webkit-animation: revflow 1s linear infinite;
        }
        @keyframes flow {
            from {
                stroke-dashoffset: 14;
            }
            to {
                stroke-dashoffset: 0;
            }
        }
        @-webkit-keyframes flow {
            from {
                stroke-dashoffset: 14;
            }
            to {
                stroke-dashoffset: 0;
            }
        }
        @keyframes revflow {
            from {
                stroke-dashoffset: 0;
            }
            to {
                stroke-dashoffset: 14;
            }
        }
        @-webkit-keyframes revflow {
            from {
                stroke-dashoffset: 0;
            }
            to {
                stroke-dashoffset: 14;
            }
        }
    }
    .river-label {
        fill: #c6c6c6;
    }
    .river-marker {
        cursor: pointer;
        circle {
            &.type-agri {
                fill: #51a83a;
                stroke-width: 30px;
            }
            &.type-inflow {
                fill: #5c6b84;
                stroke-width: 30px;
            }
            &.type-demand {
                fill: #428dff;
                stroke-width: 30px;
            }
            &.type-reservoir {
                fill: #00bdff;
                stroke-width: 30px;
            }
        }
        text {
            fill: white;
        }
    }
    .river-model-title {
        fill: white;
        font-weight: bold;
    }
    svg.flow-data-chart {
        margin: 0px auto;
        display: block;
        .flow-spark-line {
            fill: none;
            stroke: #1997c6;
            stroke-width: 2px;
        }
        .flow-text {
            fill: white;
            font-weight: bold;
            font-size: 17px;
        }
    }
    .legend-label {
        fill: #c6c6c6;
        font-size: 15px;
    }
}