#app-container>.navbar {
    a {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 15px;
    }
    #navbar span.icon {
        padding: 4px 5px;
        border: 3px solid #cfd2da;
        margin-right: 10px;
        border-radius: 35px;
    }
    .navbar-brand-icon {
        margin-top: -6px;
        padding: 3px 5px;
        border: 3px solid #cfd2da;
        margin-right: 10px;
        border-radius: 35px;
    }
    .navbar-nav {
        margin: 0px;
        padding: 0px 2px;
    }
    .login-container {
        padding: 6px 5px 0px 20px;
        display: inline-block;
        .login-text {
            font-size: 15.5px;
            text-transform: uppercase;
            font-weight: bold;
            margin-right: 15px;
            vertical-align: sub;

        }
        .paws-icon {
            display: inline-block;
            width: 60px;
            height: 20.3px;
            background-size: 100%;
            margin-right: 10px;
            vertical-align: middle;
        }
        // the base styling by the third part lib is set inline 
        // so we have to manually override it !!
        .google-login-button {
            background-color: transparent !important;
            padding: 0px !important;
            cursor: pointer;
            box-shadow: none !important;
            display: inline-block !important;
            vertical-align: middle;
            &>span {
                padding: 0px !important;
                .google-logo {
                    height: 35px;
                    width: 35px;
                }
            }

            &:focus {
               outline: none; 
            }
        }
    }

    .mode-switch-button {
        cursor: pointer;

        // border-radius: 4px;
        // font-size: 1.16em;
        // font-weight: bold;
        // padding: 6px;
        // margin: 8px 0;
        // background: #2f2f2f;
        // border: 2px solid transparent;
        // cursor: pointer;
        // color: #c7c7c7;

        // &:hover {
        //     border: 2px solid #8c8c8c;
        // }
    }
}