#river-map {
    display: inline-block;
    background: #1b1f2a;
    margin: 10px auto;
    border-radius: 7px;
    vertical-align: top;
    .flowLine {
        stroke-dasharray: 9, 5;
        stroke-linecap: round;
        fill: none;
        stroke: #5c6b84;
        &.type-agri {
            stroke: #51a83a;
        }
        &.type-demand {
            stroke: #428dff;
        }
        &.type-inflow {
            stroke: #92cce3;
        }
        &.type-diversion {
            stroke: #f7a02e;
        }
        &.forward-flow {
            animation: flow 1s linear infinite;
            -webkit-animation: flow 1s linear infinite;
        }
        &.reverse-flow {
            animation: revflow 1s linear infinite;
            -webkit-animation: revflow 1s linear infinite;
        }
        @keyframes flow {
            from {
                stroke-dashoffset: 14;
            }
            to {
                stroke-dashoffset: 0;
            }
        }
        @-webkit-keyframes flow {
            from {
                stroke-dashoffset: 14;
            }
            to {
                stroke-dashoffset: 0;
            }
        }
        @keyframes revflow {
            from {
                stroke-dashoffset: 0;
            }
            to {
                stroke-dashoffset: 14;
            }
        }
        @-webkit-keyframes revflow {
            from {
                stroke-dashoffset: 0;
            }
            to {
                stroke-dashoffset: 14;
            }
        }
    }
    .river-label {
        fill: #c6c6c6;
    }
    .river-marker {
        cursor: pointer;
        circle {
            &.type-agri {
                fill: #51a83a;
                stroke-width: 30px;
            }
            &.type-inflow {
                fill: #92cce3;
                stroke-width: 30px;
            }
            &.type-demand {
                fill: #428dff;
                stroke-width: 30px;
            }
            &.type-junction {
                fill: #5c6b84;
                stroke-width: 30px;
            }
        }
        text {
            fill: white;
        }
    }
    .river-model-title {
        fill: white;
        font-weight: bold;
    }
}