.root-schema-container {
    margin: 40px 0px;
    .schema-selection-container {
        display: inline-block;
    }
    .text-primary {
        text-transform: capitalize;
        margin-bottom: 15px;
    }
    .image-container {
        display: inline-block;
        position: relative;
        .tile-container {
            display: block;
            path {
                fill: transparent;
                stroke-width: 6.2px;
                stroke: red;
                cursor: pointer;
                &:hover {
                    stroke-width: 10px;
                    fill: #428dff;
                    opacity: 0.50;
                }
            }
        }
    }
}