.statcard {
    display: inline-block;
    margin-right: 5px;
    min-height: 80px;
    vertical-align: top;
    position: relative;
    .statcard-major {
        font-size: 16px;
    }
    .statcard-content {
        margin-top: 12px;
        margin-left: 25%;
        svg {
            display: inline-block;
            position: absolute;
            bottom: 3px;
            left: 17%;
        }
    }
    .card-icon {
        margin-left: 1px;
        padding-left: 1px;
    }
    .p-a {
        padding: 5px;
    }
    path.card-icon {
        fill: white;
    }
    .delta-indicator {
        font-size: 8px;
    }
    .statcard-desc {
        font-size: 0.9em;
    }
}