.statcard {
    display: inline-block;
    margin-right: 5px;
}

// #scale {
//     height: 150px;
//     width: 100px;
//     text-align: center;
//     margin: 0 auto;
// }
// #scale {
//     fill: yellow;
//     stroke: blue;
//     stroke-width: 2px;
// }
.statcard-major {
    font-size: 16px;
}

.card-icon {
    margin-left: 1px;
    padding-left: 1px;
    // border: 5px;
    // stroke: blue;
    // background-color: blue;
}

.p-a {
    padding: 5px;
}

.delta-indicator {
    font-size: 8px;
}

.statcard-desc {
    font-size: 9px;
    text-decoration: underline;
}