.statcard {
    display: inline-block;
    margin-right: 5px;
}

// #scale {
//     height: 150px;
//     width: 100px;
//     text-align: center;
//     margin: 0 auto;
// }
// #scale {
//     fill: yellow;
//     stroke: blue;
//     stroke-width: 2px;
// }
.statcard-lead-num {
    font-size: 18px;
}

.card-icon {
    margin-left: 1px;
    padding-left: 1px;
    // border: 5px;
    // stroke: blue;
    // background-color: blue;
}