#tube-map {
    display: inline-block;
    background: #1b1f2a;
    margin: 50px auto;
    border-radius: 7px;
    .river {
        stroke-dasharray: 9, 5;
        stroke-linecap: round;
        fill: none;
        &.forward-flow {
            animation: flow 2s linear infinite;
            -webkit-animation: flow 2s linear infinite;
        }
        &.reverse-flow {
            animation: revflow 2s linear infinite;
            -webkit-animation: revflow 2s linear infinite;
        }
        @keyframes flow {
            from {
                stroke-dashoffset: 14;
            }
            to {
                stroke-dashoffset: 0;
            }
        }
        @-webkit-keyframes flow {
            from {
                stroke-dashoffset: 14;
            }
            to {
                stroke-dashoffset: 0;
            }
        }
        @keyframes revflow {
            from {
                stroke-dashoffset: 0;
            }
            to {
                stroke-dashoffset: 14;
            }
        }
        @-webkit-keyframes revflow {
            from {
                stroke-dashoffset: 0;
            }
            to {
                stroke-dashoffset: 14;
            }
        }
    }
    .river-label {
        fill: #c6c6c6;
    }
}