.vertical-slider-container {
    overflow: hidden;
    display: inline-block;
    background: #1b1f2a;
    margin-top: 10px;
    margin-left: 1%;
    border-radius: 7px;
    vertical-align: top;
    .slider-title {
        font-weight: bold;
        margin-top: 6px;

    }

    .switch-container {
        margin: 0px 0px;
        &>label {
            margin-bottom: 0px;
        }
    }
    .inner-slider {
        float: left;
        margin-top: 5px;

        .rc-slider-vertical {
            text-align: center;
            display: inline-block;
            margin-left: -40px;
            margin-top: 10px;

            .rc-slider-mark {
                top: 4px;
            }
        }
        strong {
            font-size: 14px;
        }
    }
}