.vertical-slider-container {
    overflow: hidden;
    display: inline-block;
    background: #1b1f2a;
    margin-top: 10px;
    margin-left: 1%;
    border-radius: 7px;
    vertical-align: top;
    .slider-title {
        font-weight: bold;
        margin-top: 6px;

    }

    .switch-container {
        &>label {
            margin-bottom: 0px;
        }
    }
    .inner-slider {
        float: left;
        margin-top: 5px;
        .rc-slider-vertical {
            text-align: center;
            display: inline-block;
            margin-left: -40px;
            margin-top: 10px;
        }
        strong {
            font-size: 14px;
        }
    }

    .info-icon {
        cursor: pointer;
        color: #d0d0d0;

        &:hover {
            color: white;
        }
    }
}