.popup-label {
    color: black;
    font-weight: bold;
}

.basin-info {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.marking-menu-button{
}
.marking-menu-button:hover{
}
.mapboxDiv{
}
