.popup-label {
    color: black;
    font-weight: bold;
}

.basin-info {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.marking-menu-button{
    .icon{
        font-size: 35px;
        margin: 0 0px;
    
        padding: 0;
        border: none;
        background: none;
        color: rgb(255, 255, 255);
    }
}

