
.modal-root {
    position: absolute;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background: #000000c7;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 300ms, opacity 300ms;

    &.visible {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 300ms;
    }

    // .modal-componenets-container {
    //     height: 28%;
    //     background: #363b4c;
    //     width: 44%;
    //     position: relative;
    //     top: 5%;
    //     margin: 0 auto;
    //     border-radius: 15px;
    //     padding-bottom: 3%;
    // }
}



