.information-container-root {
    background: #363b4c;
    position: relative;
    top: 5%;
    margin: 0 auto;
    border-radius: 15px;
    padding-top: .5%;
    padding-bottom: .5%;
    text-align: center;

    .ic-title {
        font-size: 2.3em;
        color: #1ca8dd;
        font-weight: bolder;
    }

    .ic-tab-container {
        text-align: center;
        margin-top: 10px;
    
        .ic-tab {
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            
            display: inline-block;
            background: #0c1b52;
            padding: 5px 15px 20px 15px;
            font-size: 1.7em;
            border-radius: 5px 5px 0px 0px;
            margin: 0px 5px 0px 0px;
            cursor: pointer;
            z-index: -5;
            font-weight: 500;
            transition: 0.25s ease-in-out;

            &:hover {
                transform: translateY(-4px);
            }

            &.selected {
                background: #0c1229;
                transform: translateY(-8.5px);
            }
        }
    }

    .ic-content-container {
        width: 99%;
        height: 86%;
        background: #0c1229;
        margin: 0 auto;
        border-radius: 10px;
        z-index: 1;
        transform: translateY(-15px);
        text-align: initial;

        .nav-button {
            display: inline-block;
            margin: 23.5% 11.5px;
            cursor: pointer;
            user-select: none;
            color: #d0d0d0;

            &>span{
                font-size: 50px;
            }

            &:hover {
                color: white;
            }

        }

        .image-container {
            width: 88%;
            height: 95.5%;
            display: inline-block;
            position: absolute;

            visibility: hidden;
            opacity: 0;
            transition: visibility 0s linear 300ms, opacity 300ms;

            &.active {
                visibility: visible;
                opacity: 1;
                transition: visibility 0s linear 0s, opacity 300ms;   
            }
        }
    }

    // .us-users-root {
    //     height: 85%;

    // }
}